<header class="article__header">
    <h2>
        <a href="{{ article.direct_url ?: article.url }}/" class="article__header__title">
            {% if article.category %}{{ article.category }}: {% endif %}{{ article.title }}
        </a>
        <span class="article__header__date">({{ article.date|date('d M Y') }})</span>
    </h2>
    <div>
        <ul class="article__tags">
            {% for tag in article.tags %}
            <li>{{ tag }}</li>
            {% endfor %}
        </ul>
        <a href="{{ article.direct_url ?: article.url }}/" class="article__header__permalink">&#8734; <span class="hide show-on-hover">Permalink</span></a>
    </div>
</header>

{% if article.blocks.summary %}
    {{ article.blocks.summary|raw }}
    <p><a href="{{ article.direct_url ?: article.url }}/">Read the rest of the article</a></p>
{% else %}
    {{ article.blocks.content|raw }}
{% endif %}
