<header class="article__header">
    <h2>
        <a href="{{ article.direct_url ?: article.url }}/" class="article__header__title">
            {{ article.title }}
        </a>
        <span class="article__header__date">({{ article.date|date('d M Y') }})</span>
    </h2>
    <ul class="article__tags">
        {% for tag in article.tags %}
        <li>{{ tag }}</li>
        {% endfor %}
    </ul>
</header>
{% if article.summary %}
    <p>{{ article.summary }}</p>
{% endif %}
<a href="{{ article.direct_url ?: article.url }}/">&#8734;</a>
