---
layout: default
title: Articles by Florian Eckerstorfer
permalink: articles/
use: [articles]
---

<ul class="articles">
{% for article in data.articles %}
    <li class="article">
        <a href="{{ article.direct_url ?: article.url }}/" class="title">{{ article.title }}</a>
        <span class="date">({{ article.date|date('d M Y') }})</span><br>
        {% if article.summary %}
            <p>{{ article.summary }}</p>
        {% endif %}
        <ul class="tags">
        {% for tag in article.tags %}
            <li>{{ tag }}</li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
