---
permalink: atom.xml
use: ["articles"]
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title><![CDATA[{{ site.title }}]]></title>
    <link href="{{ site.url }}/atom.xml" rel="self"/>
    <link href="{{ site.url }}/"/>
    <updated>{{ site.calculated_date | date('c') }}</updated>
    <id>{{ site.url }}/</id>
    {% if site.author or site.email %}
        <author>
            {% if site.author %}<name><![CDATA[{{ site.author }}]]></name>{% endif %}
            {% if site.email %}<email><![CDATA[{{ site.email }}]]></email>{% endif %}
        </author>
    {% endif %}
    {% for article in data.articles|slice(0, 20) %}
        <entry>
            <title type="html"><![CDATA[{{ article.title }}]]></title>
            <link href="{{ site.url }}{{ article.url }}"/>
            <updated>{{ article.date|date('c') }}</updated>
            <id>{{ site.url }}{{ article.url }}</id>
            <content type="html"><![CDATA[{{ article.blocks.content|raw }}]]></content>
        </entry>
    {% endfor %}
</feed>
