---
layout: map
title: Travel by Florian Eckerstorfer
permalink: travel/index.html
---
<div id="map"></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZmxvcmlhbmVja2Vyc3RvcmZlciIsImEiOiJjaWxqdTNiM3QwMGFwdmptNDZjZHF2NjY1In0.AWaTE9ymrzzkEq0JNIg_ZQ';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style:     'mapbox://styles/florianeckerstorfer/cilju3pxw005occm7iwt8c1k0', //stylesheet location
    center:    [16.370092, 48.202588], // Vienna, Austria
    zoom:      2 // starting zoom
});
map.on('style.load', function () {
    map.addSource('vacations', {
        "type": "geojson",
        "data": {
            "type":     "FeatureCollection",
            "features": [
                {{ mapboxMarker('Brussels, Belgium', [4.351710, 50.850340]) }},
                {{ mapboxMarker('Zagreb, Croatia', [15.981919, 45.815011], ['June 2016']) }},
                {{ mapboxMarker('Prague, Czech Republic', [14.437800, 50.075538], ['January 2007', 'May 2014']) }},
                {{ mapboxMarker('Copenhagen, Denmark', [12.568337, 55.676097], 'May 2013') }},
                {{ mapboxMarker('Marseille, France', [5.369780, 43.296482], 'August 2011') }},
                {{ mapboxMarker('Avignon, France', [4.805528, 43.949317]) }},
                {{ mapboxMarker('Nice, France', [7.261953, 43.710173], 'August 2011') }},
                {{ mapboxMarker('Paris, France', [2.352222, 48.856614]) }},
                {{ mapboxMarker('Berlin, Germany', [13.404954, 52.520007], ['July 2008', 'April 2010', 'July 2012']) }},
                {{ mapboxMarker('Bremen, Germany', [8.801694, 53.079296], 'July 2014') }},
                {{ mapboxMarker('Bremerhaven, Germany', [8.580942, 53.539584], 'July 2014') }},
                {{ mapboxMarker('Cologne, Germany', [6.960279, 50.937531], 'August 2015') }},
                {{ mapboxMarker('Hamburg, Germany', [9.993682, 53.551085], 'July 2014') }},
                {{ mapboxMarker('Kreta, Greece', [24.809269, 35.240117], 'August 2004') }},
                {{ mapboxMarker('Dublin, Ireland', [-6.260310, 53.349805], ['November 2017']) }},
                {{ mapboxMarker('Howth, Ireland', [-6.057013, 53.378569], ['November 2017']) }},
                {{ mapboxMarker('Bergamo, Italy', [9.677270, 45.698264], ['June 2017']) }},
                {{ mapboxMarker('Bassano del Grappa, Italy', [11.727275, 45.765729], ['September 2011', 'June 2017']) }},
                {{ mapboxMarker('Bozen, Italy', [11.354758, 46.498295], ['June 2017']) }},
                {{ mapboxMarker('Genoa, Italy', [8.946256, 44.405650], 'August 2011') }},
                {{ mapboxMarker('Florence, Italy', [11.255814, 43.769560]) }},
                {{ mapboxMarker('Kalterer See, Italy', [11.262865, 46.379343], ['June 2017']) }},
                {{ mapboxMarker('Milan, Italy', [9.185924, 45.465422], ['August 2011', 'June 2017']) }},
                {{ mapboxMarker('Monza, Italy', [9.274449, 45.584500], 'June 2017') }},
                {{ mapboxMarker('Rome, Italy', [12.496366, 41.902783], 'April 2003') }},
                {{ mapboxMarker('Trento, Italy', [11.121749, 46.074779], ['June 2017']) }},
                {{ mapboxMarker('Turin, Italy', [7.686856, 45.070312]) }},
                {{ mapboxMarker('Vaduz, Liechtenstein', [9.520928, 47.141030], 'October 2012') }},
                {{ mapboxMarker('Amsterdam, Netherlands', [4.895168, 52.370216], ['April 2015']) }},
                {{ mapboxMarker('Utrecht, Netherlands', [5.121420, 52.090737], 'April 2015') }},
                {{ mapboxMarker('Belfast, Northern Ireland', [-5.930120, 54.597285], 'November 2017') }},
                {{ mapboxMarker('Derry, Northern Ireland', [-7.308575, 54.996612], 'November 2017') }},
                {{ mapboxMarker('Oslo, Norway', [10.752245, 59.913869], 'March 2016') }},
                {{ mapboxMarker('Lisbon, Portugal', [-9.139337, 38.722252], 'January 2013') }},
                {{ mapboxMarker('Edinburgh, Scotland', [-3.188267, 55.953252], 'August 2015') }},
                {{ mapboxMarker('Glasgow, Scotland', [-4.251806, 55.864237], 'August 2015') }},
                {{ mapboxMarker('Inverness, Scotland', [-4.224721, 57.477773], 'August 2015') }},
                {{ mapboxMarker('Pitlochery, Scotland', [-3.729711, 56.704361], 'August 2015') }},
                {{ mapboxMarker('Sterling, Scotland', [-3.936903, 56.116523], 'August 2015') }},
                {{ mapboxMarker('Bratislava, Slovakia', [17.107748, 48.148596], 'October 2013') }},
                {{ mapboxMarker('Barcelona, Spain', [2.173403, 41.385064], ['September 2010', 'August 2011']) }},
                {{ mapboxMarker('Granada, Spain', [-3.598557, 37.177336], 'January 2008') }},
                {{ mapboxMarker('Madrid, Spain', [-3.703790, 40.416775], ['August 2011', 'December 2012']) }},
                {{ mapboxMarker('Malaga, Spain', [-4.421266, 36.721261], 'December 2007') }},
                {{ mapboxMarker('Sevilla, Spain', [-5.984459, 37.389092], 'December 2007') }},
                {{ mapboxMarker('Valencia, Spain', [-0.376288, 39.469907], 'August 2011') }},
                {{ mapboxMarker('Malmö, Sweden', [13.003822, 55.604981], 'May 2013') }},
                {{ mapboxMarker('Stockholm, Sweden', [18.068581, 59.329323], 'July 2014') }},
                {{ mapboxMarker('Antalya, Turkey', [30.713323, 36.896891], 'July 2006') }},
                {{ mapboxMarker('Istanbul, Turkey', [28.978359, 41.008238], 'February 2012') }},
                {{ mapboxMarker('London, United Kingdom', [-0.127758, 51.507351], ['August 2011', 'August 2015']) }},
                {{ mapboxMarker('Brighton, United Kingdom', [-0.137163, 50.822530], 'August 2015') }},
                {{ mapboxMarker('Gibraltar', [-5.353585, 36.140751], 'January 2008') }},
                {{ mapboxMarker('Newcastle-upon-Thyne, United Kingdom', [-1.617068, 54.968551], 'August 2015') }},
                {{ mapboxMarker('Liverpool, United Kingdom', [-2.991573, 53.408371], 'August 2015') }},
                {{ mapboxMarker('Chicago, Illinois, USA', [-87.629798, 41.878114], 'August 2013') }},
                {{ mapboxMarker('Denver, Colorada, USA', [-104.990251, 39.739236], 'August 2013') }},
                {{ mapboxMarker('Detroit, Michigan, USA', [-83.045754, 42.331427], 'August 2013') }},
                {{ mapboxMarker('New York City, New York, USA', [-74.005941, 40.712784], 'August 2013') }},
                {{ mapboxMarker('Portland, Oregon, USA', [-122.676482, 45.523062], 'August 2013') }},
                {{ mapboxMarker('Seattle, Washington, USA', [-122.332071, 47.606209], 'August 2013') }},
                {{ mapboxMarker('Cardiff, Wales', [-3.179090, 51.481581], 'August 2015') }}
            ]
        }
    });
    map.addSource('homes', {
        "type": "geojson",
        "data": {
            "type":     "FeatureCollection",
            "features": [
                {{ mapboxMarker('Linz, Austria', [14.285830, 48.306940], 'until September 2007') }},
                {{ mapboxMarker('Vienna, Austria', [16.370092, 48.202588], 'since October 2007') }}
            ]
        }
    });

    map.addLayer({
        "id":     "vacations",
        "source": "vacations",
        "type":   "circle",
        "interactive": true,
        "paint": {
            "circle-color":  "rgba(233, 82, 106, .5)",
            "circle-radius": 5,
            "circle-blur":   .5
        }
    });

    map.addLayer({
        "id":     "homes",
        "source": "homes",
        "type":   "circle",
        "interactive": true,
        "paint": {
            "circle-color":  "rgba(60, 159, 237, .5)",
            "circle-radius": 5,
            "circle-blur":   .5
        }
    });

    var popup = new mapboxgl.Popup();

    map.on('click', function (e) {
        map.featuresAt(e.point, {
            radius:          5,
            layer:           ['vacations', 'homes'],
            includeGeometry: true
        }, function (err, features) {
            if (err || !features.length) {
                popup.remove();
                return;
            }

            var feature = features[0];
            popup.setLngLat(feature.geometry.coordinates)
                .setHTML('<strong>'+feature.properties.title+'</strong><ul>'+feature.properties.description+'</ul>')
                .addTo(map);
        });
    });

    map.on('mousemove', function (e) {
        map.featuresAt(e.point, {
            radius: 5,
            layer:  ['vacations', 'homes']
        }, function (err, features) {
            map.getCanvas().style.cursor = (!err && features.length) ? 'pointer' : '';
        });
    });
});
</script>
